*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/******* COMMON ********/

body {
    font-family: Montserrat, sans-serif;
}
.flex {
    display: flex;
}

.app-container {
    width: 100%;
    height: 100vh;

    /* test */
    background-color: green;
}

a {
    text-decoration: none;
}

ul{
    list-style-type: none;
}




/********* MAIN *************/

.main-columns-container.flex{
    background-color: aqua;
    height: calc(100vh - 100px);
}

.col-left {
    width: 250px;
    overflow-y: hidden;

    /* test */
    background-color: darkorange;
}

.main-content {
    width: calc(100% - 250px);
    overflow-y: auto;
    padding-top: 100px;

    /* test */
    background-color: darkseagreen;
}


/* UPGRADE */

.upgrade-container {
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 250px);
    text-align: right;
    height: 70px;
    padding-top: 28px;
    font-size: 10px;
    padding-right: 1rem;
    opacity: 0.5;


    /* test */
    background-color: black;
}

.upgrade{
    border: 1px solid white;
    border-radius: 20px;
    padding: 0.4rem 1.6rem;
    font-size: 14px;
    color: white;
    display: inline-block;
}

.upgrade:hover{
    transform: scale(1.1);
}


/******COL-LEFT *******/

.col-left #logo {
    width: 150px;
    padding-top: 26px;
    padding-left: 1rem;
    
}

.col-left #logo-small {
    width: 50px;
    padding: 5px;
    display: none;
}



.action.flex{

    flex-direction: column;


    /* test */
    background-color: bisque;
}

.action-item  {
    position: relative;
    padding-left: 10px;
}


.action-item .list-item-icon {
    width: 35px;
}

.action-item .list-item-icon:hover{
    color: white;
}

.action-item .action-item-caption {
    position: absolute;
    top: 15px;
    color: #4c4c4c;
    font-weight: 600;
    font-size: 13px;
}

.action-item .action-item-caption:hover, .action-item .list-item-icon:hover{
    color: white;
    opacity: 0.7;
}

#first-item {
    border-left: 5px solid #adff2e;
    padding-left: 5px;
}

/* Media col-left */
@media screen and (max-width:600px) {

    .col-left{
        width: 100%;
    }

    .main-content {
        width: 100%;
    }

    .upgrade-container{
        width: calc(100% - 50px);
    }
    #logo{
        display: none;
    }

    .col-left #logo-small{
        display: inline;
    }
    .action-item-caption, .action-item-caption{
        display: none;
    }

    #first-item{
        border: none;
    }
}


















footer {
    width: 100%;
    height: 100px;
    overflow: hidden;

    /* test */
    background-color: pink;
}