*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/******* COMMON ********/

body {
    font-family: Montserrat, sans-serif;
}

.flex {
    display: flex;
}

.app-container {
    width: 100%;
    height: 100vh;

    /* test */
    background-color: green;
}

a {
    text-decoration: none;
}

ul{
    list-style-type: none;
}

img{
    width: 100%;
}

section{
    padding: 10px 15px;
}






/********* MAIN *************/

.main-columns-container.flex{
    /* background-color: aqua; */
    height: calc(100vh - 100px);
}

.col-left {
    width: 250px;
    height: 100%;
    overflow-y: hidden;
    flex-direction: column;
    background-color: black;
}

.main-content {
    width: calc(100% - 250px);
    overflow-y: auto;
    padding-top: 100px;
    background-color: black;
}


/* UPGRADE */

.upgrade-container {
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 250px);
    text-align: right;
    height: 70px;
    padding-top: 28px;
    font-size: 10px;
    padding-right: 1rem;
    opacity: 0.8;


    /* test */
    background-color: black;
}

.upgrade{
    border: 1px solid white;
    border-radius: 20px;
    padding: 0.4rem 1.6rem;
    font-size: 14px;
    color: white;
    display: inline-block;
}

.upgrade:hover{
    transform: scale(1.1);
}


/******COL-LEFT *******/



/* col-left-top */
.col-left #logo {
    width: 130px;
    padding: 1.35rem 0 0.8rem 0.7rem;
}

.col-left #logo-small {
    width: 50px;
    padding: 5px;
    display: none;
}

.action.flex{
    flex-direction: column;
    background-color: black;
    /* test */
    /* background-color: bisque; */
}

.action-item  {
    position: relative;
    padding-left: 10px;
}


.action-item .list-item-icon {
    width: 35px;
}

.action-item .list-item-icon:hover{
    color: white;
}

.action-item .action-item-caption {
    position: absolute;
    top: 15px;
    color: #626262;
    font-weight: 600;
    font-size: 13px;
}

.action-item .action-item-caption:hover, .action-item .list-item-icon:hover{
    color: white;
    opacity: 0.7;
}

#first-item {
    border-left: 5px solid #adff2e;
    padding-left: 5px;
}

/* col-left-middle*/

.playlist-container{
    flex-grow: 1;
}

.playlist{
    padding:  1.2rem 0 1rem 0.8rem;
    font-size: 13px;
    color: white;
}

/* aggiungere una playlist */
.add-playlist{
    position: relative;
    width: 25px;
    height: 25px;
    background-color: #a3a3a3;
    margin-left: 12px;
}

#plus {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: #626262;
}

.customization.flex span a {
    font-size: 13px;
    color: #626262;
    padding: 5px;
}

.add-playlist i:hover{
    background-color: white;
}

.customization.flex a:hover{
    color: white;
}

/* playlist personalizzate */

.name-list{
    padding:12px;
    overflow-y: auto;
}

.name-list-item {
    padding-top: 5px;
    color: #626262;
    font-size: 12px;
    overflow-y: auto;
}

.name-list-item:hover{
    color: white;
}

/* col-left-bottom */

.col-left-bottom{
    position: relative;
    padding-left: 8px;  
}

.col-left-bottom .download {
    width: 20px;
    filter: brightness(34%);
}

.col-left-bottom span{
    font-size: 13px;
    top: 4px;
    padding-left: 5px;
    color: #626262;
    vertical-align: super;
}

.col-left-bottom span:hover{
    color: white;
}

.col-left-bottom hr{
    width: 90%;
    color: #626262; 
    background: #626262; 
    border: 0; 
    height: 1px; 
}


.col-left-bottom.flex{
    flex-direction: column;
    height: 100%;
    justify-content: end;
}

.picture-profile-container.flex{
    padding: 10px 0;
}

.picture-profile{
    width: 20px;
    height: 20px;
    background-color: #626262;
    border-radius: 50%;
}

.user-name{
    padding-left: 15px;
    color: white;
    font-weight: 600;
    font-size:13px;
}

/************** MAIN CONTENT ***************/

.category-list.flex{
    justify-content: center;
}

.category-item {
    padding: 10px 10px;
    font-size: 11px;
    color: #777a7e;
    font-weight: 900;
}

.category-item:hover{
    color: white;
}


#first-category-item{
    width: 30%;
    border-bottom: 3px solid #adff2e;
    margin: 0 auto;
    
}

.recently-played-columns.flex{
    flex-wrap: wrap;
    margin-top: 1rem;
}

.card{
    width: calc((100% / 6));
    position: relative; 
    padding: 10px;  
}

/********** hover card*********** */

.card:hover .card-picture{
    opacity: 0.3;
}

.player i {
    position: absolute;
    top: 26%;
    left: 37%;
    font-size: 48px;
    color: white;
    display: none;
}

.card:hover i{
    display: inline-block;
}

/* section title */
.main-content h2{
    color:white;
    margin: 1rem 0;
    font-size:17px;
    padding-left: 0.7rem;
}

/* section-sub-title */
.main-content h4{
    font-size: 13px;
    color: white;
    font-weight: 600;
}

/* card title */
.card-caption{
    text-align: center;
}

/* card sub-title */
.sub-title{
    color:#777a7e;
    font-size: 10px;
    font-weight: 600;
    padding: 0.5rem 0 1rem 0;
}

.sub-title-h2{
    color:#777a7e;
    font-size: 10px;
    font-weight: 600;
    padding-left: 0.79rem;
}

/* card circle */
.card-picture.row3{
    border: 1px solid black;
    border-radius: 50%;  
}

/****************** FOOTER *************** */

footer {
    width: 100%;
    height: 100px;
    overflow: hidden;
    background-color: black;
}

.footer-columns.flex{
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.3rem;
}

/* prima colonna */
.footer-col1.flex {
    align-items: center;
    justify-content: space-around;
} 

.footer-col1.flex img{
    width: 1.1rem;
    height: 1.1rem;
}

.footer-caption h4{
    color: white;
    font-size: 10px;
    padding-left: 0.5rem;
}

.footer-caption-subtitle{
    color: #777a7e;
    font-size: 0.5rem;
    padding-left: 0.5rem;
}

.footer-caption-subtitle:hover{
    color: white;
}

.footer-icon-container {
    margin-left: 4rem;
}

.footer-icon-item{
    padding: 0 0.5rem;
    color: #777a7e;
}

.footer-icon-item:hover{
    color:white;
}

.footer-col2 {
    width: 60%;
    height: 70%;

    /* test */
    border: 1px solid black;
}

.media-player {
    text-align: center;
}

.media-player-item {
    padding: 0 1rem;
    color: white;
}

.media-player:hover .media-player-item {
    transform: scale(1.5);
    
}

#footer-play i{
    font-size: 23px;
}

/* loading bar */

.loading-bar{
    border: 1px solid #777a7e;
    background-color:#777a7e ;
    width: 88%;
    height: 2%;
    position: relative;
}

.loading-bar-container.flex span {
    padding: 0.3rem 0.3rem;
    font-size: 10px;
}

.progress-bar {
    border: 2px solid #c1c1c1 ;
    width: 30%;
}

.progress-bar i{
    position: absolute;
    top: -0.5rem;
    left: 9rem;
    font-size: 1.2rem;
    color: white;
    display:none;
}

.progress-bar:hover{
    border: 1px solid #adff2e;
}

.progress-bar:hover i{
    display: inline-block;
}

.loading-bar-container.flex{
    align-items: center;
}

/* colonna3 */
.footer-col3 {
    width: 15%;
    align-items: center;
}

.col3-item i {
    color: white;
    padding: 0 0.2rem;
}

.volume-bar{
    border: 1px solid #777a7e;
    background-color:#777a7e ;
    width: 88%;
    height: 2%;
    position: relative;  
}

.progress-volume-bar {
    border: 1px solid #c1c1c1 ;
    width: 30%;
}

.volume-bar i{
    position: absolute;
    top: -0.5rem;
    left: 9rem;
    color: white;
    display:none;
}

.progress-volume-bar:hover{
    color: #adff2e;
}

.volume-bar:hover i{
    display: inline-block;
}




/* *******************************
************ MEDIA ****************/

/* Media col-left */
@media screen and (max-width:600px) {

    .col-left{
        width: 100%;
    }

    .main-content {
        width: 100%;
    }

    .upgrade-container{
        width: calc(100% - 50px);
    }
    #logo{
        display: none;
    }

    .col-left #logo-small{
        display: inline;
    }
    .action-item-caption, .action-item-caption{
        display: none;
    }

    #first-item{
        border: none;
    }

    .playlist-container {
        display: none;
    }

    .col-left-bottom span {
        display:none;
    }

    .user-name{
        display:none;
    }
}


/* MEDIA MAIN-CONTENT */
@media screen and (max-width:1100px) {

    .card{
        width: calc(100% / 4);
        margin-top: 1rem;
    }

    .category-item {
        width: calc((100% / 5) - 1rem);
    }      
    
}

@media screen and (min-width:1200px) {

    .progress-bar i {
        position: absolute;
        top: -0.5rem;
        left: 10rem;
        font-size: 1.2rem;
        color: white;
        display:none;
    }
}

@media screen and (max-width:700px) {

    .card {
        width: calc(100% / 2);
        margin-top: 1rem;
    }
}

@media screen and (max-width:600px) {

    .card {
        width: calc(100% / 2);
        margin-top: 1rem;
    }

    .footer-icon-container.flex {
        flex-direction: column;
    }
}










